.JSiframe{
    width:1300px;
    height:2200px;
    border:0;
}
.doiframe{
    width:1300px;
    height:1500px;
    border:0;
}
.iframe{
    display:flex;
    justify-content:center;
}
.index{
    display:flex;
    justify-content:flex-start;
}
#header{
    font-size:70px;
    display:flex;
    justify-content:center;
}
header{
    font-size:50px;
    position:fixed;
    justify-content:center;
}

.js_p{
    font-size:30px;
    display:flex;
    justify-content:center;
}


/**/
summary{
    font-size:30px;
    display:flex;
    justify-content:center;
    cursor: pointer;
    padding: 8px 12px;
    background-color: #f4f9ff;
    color: black;
    border-radius: 30px;
    user-select: none;
    transition: background 0.2s, transform 0.1s;
    list-style:none;
}

summary:hover {
    background: #eaf4ff;
}

summary:active {
    transform: scale(0.97);
}
summary:focus{
    outline: none;
}
summary:focus-visible{
    outline:none;
}
summary::before{
    content:"▷";
    display:inline-block;
    margin-right:10px;
    transition: transform 0.35s cubic-bezier(.4,0,.2,1);
}

details[open] summary::before{
    transform: rotate(90deg);
}



/**/
details {
    margin: 10px 0;
}
.dialog .dialog_body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.dialog[open] .dialog_body {
  max-height: 2500px;
}
.dialog_body{
    padding:0 20px;
}
h3{
    margin:-10px;
}

.dialog{
    background-color:#f4f9ff;
    padding:5px;
    border-radius:30px;
}
#introduction{
    background-color:#f4f9ff;
    padding:10px;
    border-radius:15px;
}

.photo{
    position:relative;
    display:inline-block;
}

.photo img{
    width:700px;
}

.myname{
    position:absolute;
    top:50%;
    left:50%;
    color:white;
    transform:translate(-50%,-50%);
    font-size:30px;
}

.center{
    display:flex;
    justify-content:center;
    background-color:white;
    padding: 8px;
    border-radius:10px;
}
.center.small{
    width:50%;
    margin: 0 auto;
}
.center.p-that{
    margin: -0.5em;
    background-color:#f4f9ff;
}
ul {
  padding-left: 0;
}

a{
    color: #6a5acd;
    text-decoration: none; 
    transition: 0.3s; 
}
a:hover{
    color: red;
    text-decoration: underline;
}
.logo{
  opacity:0.5;
  transition:0.3s;
}

.logo:hover{
  opacity:1;
}
.logos{  
    display: flex;
    justify-content:flex-start;   
    align-items:center;   
    padding:0 30px;
    gap: 50px;
}
.long-logo{
    vertical-align: 30px;
}

footer{
    width:100%;
    height:100%;
    background-color:#222222;
    color:white;
}

.dialog_body{
    padding:5px 20px;
}
h2{
    line-height:0em;
    margin:30px 0px;
}

h3{
    line-height:0em;
    margin:5px 0px;
}

.links{
    border:1px;
}

.github-logo{
      position: relative;
      top: -15px;
      left: -155px;
}

